body {
    font-family: $base-font;
    color: $overlay-color;
    background-color: #F8F8F8;
    background-image: url(/images/bg_tiles.png);
    line-height: 1.5rem;
}

a {
  color: $purple;
  outline: none;
  text-decoration: none;

  &:hover {
    border-bottom: 1px dotted $purple;
  }
}

a:hover,
a:active,
a:focus,
a:visited {
  color: darken($purple, 7%)
}

main {
    max-width: 70%;
    margin: 0 auto;
    @media screen and (max-width: $small) {
        max-width: 90%;
    }
}

header {
    background-size: cover;
    height: 80vh;
    box-shadow: 0 10px 20px black;
    overflow: hidden;
    text-shadow: 0 -5px 5px black;
    color: #CCC;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & > .logo {
        display: inline-block;
        flex: 0 0 200px;

        &:hover {
            border: none;
        }

    }

    & > h2 {
        flex: 0 0 3rem;
        font-size: 1.8rem;
        margin-bottom: 0.75rem;
        font-family: $code-font;
    }

    & > h3 {
        flex: 0 0 3rem;
        font-size: 1.1rem;
        margin: 0 1rem;
    }
}

footer {
    height: 3rem;
}
