.post-list {
    list-style: none;

    & > li {
        padding: 1.2rem 0;
        border-bottom: 1px dotted $gray;

        .post-title {
            font-size: 2rem;
            color: $overlay-color;
        }
        .post-date {
            font-size: 1rem;
            float: right;
            color: $muted;
            margin: 0.3rem 0 0 0.3rem;
        }
        .post-excerpt {
            font-size: 1rem;
            color: $muted;
            margin-bottom: 1rem;
            margin-left: 0.3rem;
        }

    }
}


.pagination {
    display: inline-block;

    margin: .5rem;
    padding: 0 1rem;
    line-height: 2.5rem;
    text-align: center;
    
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    font-size: 0.75rem;

    &:hover {
        border: 1px solid #9c27b0;
    }

    &.prev {
        // float: left;
        span::before {
            content: '← ';
        }
    }
    &.next {
        float: right;
        span::after {
            content: ' →';
        }
    }
}
