{% assign post_img = page.image | default: site.background.default-post %}
{% assign bg_post = site.data.backgrounds[post_img] %}

{% if bg_post %}
  {% capture image %}{{ bg_post.url }}{% endcapture %}
  {% unless image contains 'http://' or image contains 'https://' %}
    {% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
  {% endunless %}
{% endif %}

{% if page.title %}
  <title>{{ page.title | markdownify | strip_html | strip_newlines | escape_once }} &#8211; {{ site.title }}</title>
{% else %}
  <title>{{ site.title }}</title>
{% endif %}

{% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
{% else %}
  <meta name="description" content="{{ site.description }}">
{% endif %}

{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<meta name="google-site-verification" content="3SixUBYW2rzNjap240bjSutd7CJF5pFh6r3rJhHjSx0" />
<!-- Twitter Cards -->
{% if bg_post %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ image }}">
{% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.logo }}">
{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
{% if site.twitter %}
  <meta name="twitter:site" content="@{{ site.twitter }}">
  <meta name="twitter:creator" content="@{{ site.twitter }}">
{% endif %}

<!-- Open Graph -->
<meta property="fb:admins" content="100001193129005">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{{ image }}">
<meta property="og:image:width" content="{{ bg_post.width }}">
<meta property="og:image:height" content="{{ bg_post.height }}">
<meta property="og:image:type" content="{{ bg_post.mime_type }}">
{% if page.date %}
  <meta property="profile:username" content="fernandosavio" />
  <meta property="profile:first_name" content="Fernando Sávio" />
  <meta property="profile:last_name" content="Dominguez" />
  <meta property="profile:gender" content="male" />

  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
  <meta property="article:author" content="fernandosavio" />
  <meta property="article:tag" content="{{ page.tags | join: ', ' }}" />
{% endif %}
{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">

<!-- JSON-LD Markup -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ canonical }}"
    },
    "headline": "{{ page.title | markdownify | strip_html | strip_newlines | escape_once | truncate: 110, "" }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ image }}",
      "width": {{ bg_post.width }},
      "height": {{ bg_post.height }}
    },
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "author": {
      "@type": "Person",
      "name": "Fernando Sávio",
      "email": "fernandosavio86@gmail.com",
      "jobTitle": "WebDeveloper",
      "nationality": {
        "@type": "Country",
        "name": "Brazil"
      }
    },
    "publisher": {
      "@type": "Organization",
      "name": "Fernando Sávio",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}/images/logo_60x60.png",
        "width": 60,
        "height": 60
      }
    },
    "description": "{{ post.excerpt }}"
  }
</script>
