---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
  
  <style>
    header {
      height: 100vh;
      margin: 0;
    }
  </style>
</head>
<body id="404">
  {% assign page_img = page.image | default: site.background.default-post %}

  <header style="background-image: linear-gradient(to top, black, transparent), url(/{{ site.data.backgrounds[page_img].url }});">
    <a href="{{ site.url }}" class="logo">
      <img src="{{ site.url }}/images/{{ site.logo }}">
    </a>
    <h2>404 - Página não encontrada</h2>
    <h3><a href="{{ site.url }}" style="border: 1px solid #9c27b0;padding: 0.5rem;border-radius: 3px;color: white;">Ver todos os artigos ⤾</a></h3>
  </header>
</body>
</html>
