---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  {% include metadata.html %}

  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/post.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700" rel="stylesheet">
  {% comment %}<link href="https://fonts.googleapis.com/css?family=Martel:400,700" rel="stylesheet">{% endcomment %}
</head>
<body id="homepage">
  {% assign page_img = page.image | default: site.background.default-post %}

  <header style="background-image: linear-gradient(to top, black, transparent), url({{ site.data.backgrounds[page_img].url }});">
    <a href="{{ site.url }}" class="logo">
      <img src="{{ site.url }}/images/{{ site.logo }}">
    </a>
    <h2>{{ site.title }}</h2>
    <h3>{{ site.description }}</h3>
  </header>
  <main>
      <article>
            <time class="post-date" datetime="{{ post.date }}">{{ post.date | date: '%d/%m/%Y' }}</time>
            <h1 id="post-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
            <div>
              Tags:
              {% for tag in page.tags %}
                <a class=tag href="{{ site.url }}/tags#{{ tag }}">#{{ tag }}</a>
              {% endfor %}
            </div>
            <hr style="margin-bottom: 1rem;">
            
            {{ content }}
      </article>
      {% include disqus_comments.html %}
  </main>
  <footer></footer>
  {% if page.mathjax %}
    <script type="text/javascript" async defer src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
  {% endif %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
  <script type="text/javascript">
    anchors.options.placement = 'right';
    anchors.add('article h2, article h3, article h4');
  </script>
  {% if site.google-analytics %}
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','{{ site.google-analytics }}','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  {% endif %}
</body>
</html>

{% comment %}
http://guide.bash.academy/commands/#
https://jonassebastianohlsson.com/criticalpathcssgenerator/
{% endcomment %}
