---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
  <style>
    .tag-heading {
      font-size: 3rem;
      margin: 3rem 0 2rem;
      line-height: 3rem;
      text-align: center;
      color: #822193;
    }

    .tag-heading:before {
      display: block;
      margin: 0 auto;
      transform: translateY(-1.25rem);
      border-top: 5px dotted rgba(0,0,0,0.2);
      content: " ";
    }
    .post-list>li:last-child {
        border: none;
    }
  </style>
</head>
<body id="homepage">
  {% assign page_img = page.image | default: site.background.default-post %}

  <header style="background-image: linear-gradient(to top, black, transparent), url({{ site.data.backgrounds[page_img].url }});">
    <a href="{{ site.url }}" class="logo">
      <img src="{{ site.url }}/images/{{ site.logo }}">
    </a>
    <h2>{{ site.title }}</h2>
    <h3>{{ site.description }}</h3>
  </header>
  <main>
    {{ content }}
  </main>
  <footer></footer>
</body>
</html>
